coverage.out
coverage.txt
*.log
.DS_Store
*.json
*.toml
googleapis/
TODO
/bin
sm*.db
/cmd/autumn-client/autumn-client
/cmd/autumn-manager/autumn-manager
/cmd/autumn-manager/dump.rdb
/cmd/autumn-ps/autumn-ps
/cmd/debug-tool/cp_extent
/cmd/debug-tool/etcdviewer
/cmd/debug-tool/rs_reconstruct
/cmd/debug-tool/valid_blocks
/cmd/extent-node/extent-node
/cmd/extent-node/store1/
/cmd/extent-node/store2/
/cmd/extent-node/store3/
/cmd/extent-node/store4/
/cmd/stream-client/stream-client
/autumn_clientv1/rust-autumn/target/
